@model MellonBank.Areas.Identity.Data.Account

@{
    ViewData["Title"] = "Account Details";
}

<h1>Account Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Account Number</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AccountNumber)</dd>
        <dt class="col-sm-2">Balance (EUR)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Balance)</dd>
        <dt class="col-sm-2">Branch</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Branch)</dd>
        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Type)</dd>
    </dl>
</div>

<div>
    <a asp-action="Balance" asp-route-id="@Model.Id">Check Balance</a> |
    <a asp-action="Deposit" asp-route-id="@Model.Id">Deposit</a> |
    <a asp-action="Transfer" asp-route-id="@Model.Id">Transfer</a> |
    <a asp-action="Index">Back to My Accounts</a>
</div>
