@model IEnumerable<MellonBank.Areas.Identity.Data.AppUser>

@{
    ViewData["Title"] = "All Customers";
}

<h1>All Customers</h1>

<p>
    <a asp-action="CreateCustomer">Create New Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>AFM</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AFM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="EditCustomer" asp-route-afm="@item.AFM">Edit</a> |
                    <a asp-action="CustomerDetails" asp-route-afm="@item.AFM">Details</a> |
                    <a asp-action="DeleteCustomer" asp-route-afm="@item.AFM">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Staff Panel</a>
</div>
